.playlist {
	width: 100vw;
	height: 87vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 200px;
}

.items {
	width: 100%;
	height: 100%;
	display:flex;
	justify-content: center;
	align-items: center;
	gap:100px;
}

.calendar {
	width: 300px;
	color: var(--natural-soft);
	align-items: center;
}

.tabela table{
	width: 800px;
	& th {
		text-align: left;
	}
	& thead {
		padding-bottom: 10px;
		background-color: var(--natural);
	}
}

.tabela th, td{
	padding: 5px 5px;
	background-color: var(--primary);
	margin-bottom: 2px;
}

.sampleUrl {
	text-align: center;
}

.preferida td, button {
	text-align: center;
	background-color: transparent;
	color: var(--enhanced);
}

h1 {
	font-size: 2rem;
	color: var(--natural);
	margin-bottom: 20px;
}

p {
	font-size: 2rem;
	color: var( --natural-soft)
}

span {
	font-weight: bold;
	color: var(--natural)
}

.star {
	color: var(--enhanced);
	height: 1.5rem;
}
.hidestar {
	color: black;
	height: 1.5rem;
}