.favorites {
	max-width: 80vw;
	width: 40vw;
	height: 100px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--primary-hard);
	border-radius: 15px;
	padding: 20px;
}

div {
	color: var(--natural)
}

span {
	font-weight: bold;
	color: var(--natural)
}

a:hover {
	color: var(--enhanced);
}

