/*  CSS da Page Home */
.home {
	width: 100vw;
	min-height: 87vh;

	display: flex;
	align-items: center;
	justify-content: space-around;
}

.home img {
	height: 500px;
}

.home p {
	font-size: 2rem;
	color: var(--natural-soft);
}

.home span {
	color: var(--natural);
}

.btn {
	width: 250px;
	height: 50px;
	font-size: 1.5rem;
	font-weight: bold;
	border: 0;
	border-radius: 5px;
	cursor:pointer;
}

.btn_natural {
	background-color: var(--natural);
	color: var(--natural-soft);
}

.btn:hover {
	background-color: var(--natural-soft);
	color: var(--natural);
}