.footer {
	width: 100%;
	height: 50px;
	
	background-color: var(--primary-hard);


	display: flex;
	justify-content:center;
	align-items: center;
}

.footer p {
	font-weight:lighter;
	font-size: 1.125rem;
	color: greenyellow;
}

.footer img {
	height: 48px;
}