

:root {
  font-family: "Oxanium", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Cores */
  --primary: #003344;
  --secondary: #396174;
  --natural: #00a3ec;
  --natural-light: #ecfcff;
  --natural-soft: #f1f1e6;
  --fields-gray: #555283;
  --primary-hard: #001d26;
  --enhanced: #adff2f;
  --alert: red;
}

* {
  max-width: 1980px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: linear-gradient(
    to bottom,
    #003344,
    #0d3b4d,
    #184456,
    #224c5f,
    #2c5568,
    #2c5568,
    #2c5568,
    #2c5568,
    #224c5f,
    #184456,
    #0d3b4d,
    #003344
  );
}

