@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  max-width: 1980px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Oxanium", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Cores */
  --primary: #003344;
  --secondary: #396174;
  --natural: #00a3ec;
  --natural-light: #ecfcff;
  --natural-soft: #f1f1e6;
  --fields-gray: #555283;
  --primary-hard: #001d26;
  --enhanced: #adff2f;
  --alert: red;
}

body {
  min-height: 100vh;
  background-color: black;
  background-image: linear-gradient(
    to bottom,
    #003344,
    #0d3b4d,
    #184456,
    #224c5f,
    #2c5568,
    #2c5568,
    #2c5568,
    #2c5568,
    #224c5f,
    #184456,
    #0d3b4d,
    #003344
  );
}

html {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  color: #fff;
}

section {
  max-width: 100vw;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  padding-bottom: 1rem;
}

a,
a:visited {
  color: #fff;
}

input[type="text"],
input[type="password"],
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 22px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label,
button {
  margin-top: 1rem;
}

button {
  padding: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.line {
  display: inline-block;
}
