.account {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
input {
  width: 60%;
  font-size: 1.5rem;
  border-bottom: 2px solid var(--natural-soft);
  margin: 20px;
  & :focus {
    outline: none;
    background-color: var(--natural-soft);
  }
}

h2 {
  font-size: 2rem;
  color: var(--natural);
  margin-bottom: 20px;
}

form {
  min-width: 600px;
  min-height: 75vh;
  display: flex;
  flex-direction: column;

  padding-bottom: 1rem;
}

p {
  font-size: 2rem;
  color: var(--natural-soft);
}

label {
  text-align: left;
  font-size: 0.75rem;
  margin-top: 0.5rem;
}

.seletor {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 16px 20px;
  font-size: 1.5rem;
  align-items: center;
  justify-content:baseline;
  gap: 20px;

  & option {
    background-color: var(--natural-soft);
    color: var(--natural);
  }
}

.botoes {
  display: flex;
  justify-content: space-around;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
  gap: 30px;
  & .save {
    width: 150px;
    color: var(--enhanced);
    background-color: gray;
  }
  & .cancel {
    width: 150px;
    color: var(--alert);
    background-color: gray;
  }
}
