.about {
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 100px;
}

div {
	color: var(--natural)
}

h1 {
	font-size: 3rem;
	color: var(--natural);
	margin-bottom: 20px;
}
p {
	font-size: 1.5rem;
	color: var( --natural-soft)
}

span {
	font-weight: bold;
	color: var(--natural)
}

.thorweb {
	height: 300px;
	border-radius: 50px;
}

.logo {
	height: 72px;
	border: 2px solid var(--natural);
	border-radius: 10px;
}